<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>


    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>34.118.2.23:50000</destination>
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>deck-service</serviceName>
        </encoder>
    </appender>

    <!-- Appender dla logów Kafka -->
    <appender name="LOGSTASH_KAFKA" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>34.118.2.23:50000</destination>
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>deck-kafka-service</serviceName>
        </encoder>
    </appender>

    <!-- Logger dla pakietów Kafka -->
    <logger name="org.apache.kafka" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH_KAFKA" />
    </logger>

    <logger name="org.springframework.kafka" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH_KAFKA" />
    </logger>

    <!-- Appender dla logów Debezium -->
    <appender name="LOGSTASH_DEBEZIUM" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>34.118.2.23:50000</destination>
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>deck-debezium-service</serviceName>
        </encoder>
    </appender>

    <!-- Logger dla pakietów Debezium -->
    <logger name="io.debezium" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH_DEBEZIUM" />
    </logger>

    <!-- Appender dla logów PostgreSQL -->
    <appender name="LOGSTASH_POSTGRES" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>34.118.2.23:50000</destination>
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>deck-postgres-service</serviceName>
        </encoder>
    </appender>

    <!-- Logger dla PostgreSQL -->
    <logger name="org.postgresql" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH_POSTGRES" />
    </logger>

    <logger name="org.hibernate" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH_POSTGRES" />
    </logger>

    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>

