.git
.github
.idea
.claude
.qodo
.m2-codex

**/.git
**/.next
**/node_modules
**/target
**/allure-results

**/.env
**/.env.*
**/secret*.yaml
**/secrets/**
**/*private_key*.pem
**/*public_key*.pem

frontend
mobile
graphify-out
k8s
